:root {
  --body-color: #212121;
  --background-color: #f5f4fa;
  --brand-color: #ffffff;
  --team-color: #757575;
  --element-color: #2196f3;
  --hover-color: #ffe602;

  --font-size: 14px;
  --line-height: 1.14;
  --letter-spacing: 0.02em;

  --text-decoration: none;
  --cursor: pointer;

  --gallery-list-gap: 30px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  color: var(--body-color);
  font-family: 'Roboto', sans-serif;
}

.navigation-list,
.gallery-list-filter,
.list,
.chip-list,
.job-list,
.team-list,
.footer-list,
.gallery-list,
.social,
.clients-list,
.footer-list-iconc {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* шапка */

.header {
  background: var(--brand-color);
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation-logo {
  margin-right: 93px;
}

.navigation-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: var(--text-decoration);
  color: var(--element-color);
}

.logo {
  color: var(--body-color);
}

.logo-span {
  color: var(--brand-color);
}

.header-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: var(--team-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--element-color);
}

.list {
  display: flex;
  margin-left: auto;
}

.header-iconc {
  margin-right: 10px;
  fill: currentColor;
}

/* навигация шапки */

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item,
.list-item {
  margin-right: 50px;
}

.navigation-item:last-child,
.list-item:last-child {
  margin-right: 0px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: #212121;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--element-color);
}

.navigation-link-activ {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: var(--element-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.navigation-link-activ::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--element-color);
  border-radius: 2px;
}

/* герой */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Img.jpg);
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  color: var(--brand-color);
}

/* кнопка стидия */

.hero__btn {
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--element-color);
  color: var(--brand-color);
  cursor: var(--cursor);
  font-family: inherit;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--hover-color);
}

/* наталка */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.model-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;

  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: var(--cursor);

  outline: transparent;

  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.close-iconc {
  fill: var(--body-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.close-btn:hover .close-iconc,
.close-btn:focus .close-iconc {
  fill: var(--element-color);
}

.close-btn:hover,
.close-btn:focus {
  border: 1px solid var(--element-color);
}

.model-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
}

.model-input {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.model-input:hover,
.model-input:focus {
  border: 1px solid var(--element-color);
}

.model-tex {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.model-tex::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.model-tex:hover,
.model-tex:focus {
  border: 1px solid var(--element-color);
}

.user-info {
  position: relative;
  margin-bottom: 10px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--team-color);
}

.model-iconc {
  position: absolute;
  top: 32px;
  left: 12px;
  fill: var(--body-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.model-input:hover + .model-iconc,
.model-input:focus + .model-iconc {
  fill: var(--element-color);
}

.model-iconc:hover,
.model-iconc:focus {
  fill: var(--element-color);
}

.input {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--team-color);
}

.user-textarea {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 30px;
  position: relative;
}

.visually-hidden {
  appearance: none;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .custom-checkbox .checkbox-iconc {
  opacity: 1;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-input:checked + .custom-checkbox {
  background-color: var(--element-color);
  outline: 2px solid var(--element-color);
  transition-property: background-color, outline;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 16px;
  height: 15px;

  outline: 2px solid var(--body-color);
  outline-offset: -2px;

  fill: var(--brand-color);
  border: 0.2px solid var(--brand-color);

  border-radius: 2px;
  transition-property: fill, outline;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  cursor: var(--cursor);
}

.checkbox-iconc {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.contract {
  color: var(--element-color);
}

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  width: 200px;
  height: 50px;

  background-color: var(--element-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--element-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--brand-color);

  outline: transparent;
  cursor: var(--cursor);
  transition-property: color, border-radius, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.submit-btn:hover,
.submit-btn:focus {
  color: var(--hover-color);
  border: 1px solid var(--element-color);
  border-radius: 0;
  background-color: #188ce8;
}

/* наши особиности */

.chip {
  padding-top: 94px;
}

.chip__title {
  display: none;
}

.chip-list {
  display: flex;
  justify-content: space-between;
}

.chip-list__iconc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.chip-list__item {
  width: 270px;
}

.chip-list__item:last-child {
  margin-right: 0;
}

.chip-list__title {
  margin-bottom: 10px;
}

.chip-list__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.chip-list__team {
  font-size: var(--font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--team-color);
}

/*  работа */

.job {
  padding-top: 94px;
  padding-bottom: 94px;
}

.job-list {
  display: flex;
  justify-content: space-between;
}

.job__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-list__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.job-list__item {
  position: relative;
}

.job-list__item > .job-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--brand-color);

  content: '';
  width: 100%;
  height: 70px;
}

/* команда */

.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__title {
  margin-bottom: 10px;
}

.team-list__item {
  background-color: var(--brand-color);
}

.team-list__team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--team-color);
  margin-bottom: 16px;
}

.team-list__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* иконки команды */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--brand-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--element-color);
}

.social__link:hover .social__iconc,
.social__link:focus .social__iconc {
  fill: var(--brand-color);
}

.social__iconc {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

/* постоянные клиенты */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  outline: transparent;
}

.clients-list__link:hover .clients-list__iconc,
.clients-list__link:focus .clients-list__iconc {
  fill: var(--element-color);
}

.clients-list__iconc {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--element-color);
}

/* кнопка галиреи */

.gallery-title-btn {
  display: none;
}

.gallery-btn-aktiv {
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--element-color);
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: var(--cursor);
  font-family: inherit;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.gallery-btn-aktiv:hover,
.gallery-btn-aktiv:focus {
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--body-color);
  background-color: var(--background-color);
  cursor: var(--cursor);
  font-family: inherit;

  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.gallery-item-btn {
  margin-right: 8px;
}

.gallery-btn:hover,
.gallery-btn:focus {
  background-color: var(--element-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: translateX(0);
}

.gallery-list-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* галирея */

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

.gallery-list > .gallery-item {
  flex-basis: calc(100% / 3 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);
}

.gallery-link {
  text-decoration: var(--text-decoration);

  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-link:hover .foto-title,
.gallery-link:focus .foto-title {
  transform: translateX(0);
}

.gallery-foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.foto-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  color: var(--brand-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(101%);
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.gallery-link:hover,
.gallery-link:focus {
  display: block;
  cursor: var(--cursor);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.gallery-ps {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--body-color);
}

.gallery-team {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--team-color);
}

/* подвал */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: var(--text-decoration);
  color: var(--element-color);
}

/* адресс подвал */

.container-box {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

.footer-content {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address-text {
  font-size: var(--font-size);
  line-height: 1.71;
  color: var(--brand-color);
}

.footer-address-text {
  margin-bottom: 9px;
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0px;
}

.footer-list-link {
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: #ffffff60;
}

/* иконки подвала */

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--brand-color);
}

.footer-list-iconc {
  display: flex;
}

.item-iconc:not(:last-child) {
  margin-right: 10px;
}

.item-iconc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.item-iconc:hover,
.item-iconc:focus {
  background-color: var(--element-color);
}

.item-iconc:hover .svg-iconc,
.item-iconc:focus .svg-iconc {
  fill: var(--brand-color);
}

.svg-iconc {
  fill: var(--brand-color);

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

/* рассылка подвал */

.mailing-list {
  margin-left: auto;
}

.mailing-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--brand-color);
}

.mailing-form {
  display: flex;
  align-items: center;
}

.mailing-input {
  width: 358px;
  padding: 16px 15px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: var(--brand-color);
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.mailing-input:focus,
.mailing-input:hover {
  border: 1px solid var(--brand-color);
}

.mailing-submit-btn {
  display: flex;
  align-items: center;

  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;

  color: var(--brand-color);

  background: var(--element-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  cursor: var(--cursor);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.mailing-iconc {
  margin-left: 10px;
  fill: var(--brand-color);
  outline: transparent;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.mailing-submit-btn:hover .mailing-iconc,
.mailing-submit-btn:focus .mailing-iconc {
  fill: var(--hover-color);
}

.mailing-submit-btn:hover,
.mailing-submit-btn:focus {
  color: var(--hover-color);
}